@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    color: darkred;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: darkred;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: crimson;
}

a {
    color: #fff;
    text-decoration: none;
}
